@import "antd/dist/reset.css";

/*@import "~antd/dist/antd.css";
*/
.login-form {
	max-width: 300px;
	margin-top: 150px;
}
.login-form-forgot {
	float: right;
}
.ant-col-rtl .login-form-forgot {
	float: left;
}
.login-form-button {
	width: 100%;
}

.img-col{
	position: relative;
}

