@import "antd/dist/reset.css";

/*@import "~antd/dist/antd.css";
*/
.login-form {
	max-width: 300px;
	margin-top: 100px;
}
.menu p{
	width:235px;
	padding-right:235px;
}
.login-form-forgot {
	float: right;
}
.ant-col-rtl .login-form-forgot {
	float: left;
}
.login-form-button {
width: 100%;
}
